<Settings>
  <DebugMode>true</DebugMode>
  <DemoMode>false</DemoMode>
  <!-- DEPRECATED -->
  <GameName>free!</GameName>
  <TitleScreenPath>Game\Title.png</TitleScreenPath>
  <Resolution>800,419</Resolution>
  <UseSDLX>false</UseSDLX>
  <!-- WARNING: EXTREMELY UNSTABLE IF SET TO TRUE! Multithreaded SDL2 mode. -->
  <WindowType>Windowed</WindowType>
</Settings>